<div class="container navbar-joblinks">
	<div class="row" style="justify-content: center; text-align: center;">
		<div class="col" id="navbar-categories">
			<a href="/joblist/category/Програмиране"><span>Програмиране</span></a>
		</div>
		<div class="col" id="navbar-categories">
			<a href="/joblist/category/Социални мрежи"><span>Социални мрежи</span></a>
		</div>
		<div class="col" id="navbar-categories">
			<a href="/joblist/category/Дизайн"><span>Дизайн</span></a>
		</div>
		<div class="col" id="navbar-categories">
			<a href="/joblist/category/Училище"><span>Училище</span></a>
		</div>
		<div class="col" id="navbar-categories">
			<a href="/joblist/category/Гейминг"><span>Гейминг</span></a>
		</div>
		<div class="col" id="navbar-categories">
			<a href="/joblist/category/Google Ads"><span>Google Ads</span></a>
		</div>
		<div class="col" id="navbar-categories">
			<a href="/joblist/category/Видео"><span>Видео</span></a>
		</div>
		<div class="col" id="navbar-categories">
			<a href="/joblist/category/Друго"><span>Друго</span></a>
		</div>
	</div>
</div>