<%-include('./partials/header.ejs')%>

	<body id="create-job">

		<%- include ('./partials/navbar') %>
			<div class="container create-job-heading">
				<h1>Създай предложение</h1>
			</div>
			<div class="container create-job-container">
				<div class="row">
					<div class="col">
						<form id="create-job-form" action="/profile/createOffer" method="post">
							<div class="mb-3">
								<label for="jobName" class="form-label">Заглавие</label>
								<input type="text" name="jobName" class="form-control" aria-describedby="emailHelp">

							</div>
							<div class="mb-3">
								<label for="jobDesc" class="form-label create-job-input">Описание</label>
								<textarea name="jobDesc" rows="5" id="description-box"></textarea>
							</div>
							<div class="mb-3">
								<label for="jobPrice" class="form-label">Минимална цена</label>
								<input type="text" name="jobPrice" class="form-control" aria-describedby="emailHelp">
							</div>
							<div class="packs">
								<div class="mb-3 offer-package">
									<label for="starter-pack" class="form-label">Стартов пакет</label>
									<br>
									<label for="starterPackPrice" class="form-label">Цена</label>
									<input type="text" name="starterPackPrice" class="form-control"
										aria-describedby="emailHelp">

									<label for="starterPackDescription" class="form-label">Описание</label>
									<textarea name="starterPackDescription" rows="5" id="description-box"></textarea>

									<label for="starterPackRevisions" class="form-label">Брой ревизии</label>
									<input type="text" name="starterPackRevisions" class="form-control"
										aria-describedby="emailHelp">

										<label for="starterPackDeliveryTime" class="form-label">Срок на изпълнение</label>
										<input type="number" name="starterPackDeliveryTime" class="form-control"
											aria-describedby="emailHelp">
								</div>

								<button id="newPack1">Добави пакет</button>
							</div>
							<div class="mb-3">
								<label for="jobTags" class="form-label">Категория</label>
								<select name="jobCategory" class="form-select" aria-label="Default select example">
									<option selected>Програмиране</option>
									<option value="2">Социални мрежи</option>
									<option value="3">Дизайн</option>
									<option value="4">Училищни задачи</option>
									<option value="5">Гейминг</option>
									<option value="6">Google Ads</option>
									<option value="7">2D/3D проектиране</option>
									<option value="8">Видео</option>
									<option value="9">Друго</option>
								</select>
							</div>

							<button id="formSubmit" style="margin-top: 5%;" class="btn btn-primary">Публикувай</button>
						</form>
					</div>
				</div>
			</div>









			<script>

					$(document).on('click', '#newPack1',  function (e) {
						$('#newPack1').prop('disabled', true)
						$('.packs').append(
							`
							<div class="mb-3 offer-package">
									<label for="standard-pack" class="form-label">Стандартен пакет</label>
<br>
									<label for="standardPackPrice" class="form-label">Цена</label>
									<input type="text" name="standardPackPrice" class="form-control"
										aria-describedby="emailHelp">

									<label for="standardPackDescription" class="form-label">Описание</label>
									<textarea name="standardPackDescription" rows="5" id="description-box"></textarea>

									<label for="standardPackRevisions" class="form-label">Брой ревизии</label>
									<input type="text" name="standardPackRevisions" class="form-control"
										aria-describedby="emailHelp">
								</div>
								<button id="newPack2">Добави пакет</button>`
						)
					})
					$(document).on('click', '#newPack2',  function (e) {
						$('#newPack2').prop('disabled', true)
						$('.packs').append(
							`
							<div class="mb-3 offer-package">
									<label for="premium-pack" class="form-label">Премиум пакет</label>
<br>
									<label for="premiumPackPrice" class="form-label">Цена</label>
									<input type="text" name="premiumPackPrice" class="form-control"
										aria-describedby="emailHelp">

									<label for="premiumPackDescription" class="form-label">Описание</label>
									<textarea name="premiumPackDescription" rows="5" id="description-box"></textarea>

									<label for="premiumPackRevisions" class="form-label">Брой ревизии</label>
									<input type="text" name="premiumPackRevisions" class="form-control"
										aria-describedby="emailHelp">
								</div>
								<button id="newPack2">Добави пакет</button>`
						)
					})

					$(document).ready(function(){
    $("#formSubmit").click(function(){        
        $("#create-job-form").submit(); // Submit the form
    });
});
			</script>


			<%-include('./partials/footer.ejs')%>