<%-include('./partials/header.ejs')%>
<body>
	
	<%- include ('./partials/navbar') %>


	<div class="container">
		<p style="color:red">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe non doloribus soluta voluptatibus totam
			ducimus voluptate? Quasi necessitatibus temporibus officia, autem reiciendis labore soluta, similique dolore
			sint sunt a aut!</p>
	</div>




	<%-include('./partials/footer.ejs')%>